@{
    ViewData["Title"] = "Menu de Relatórios";
}

<div class="container mt-4">
    <h2 class="text-center mb-4">Escolha o Relatório</h2>

    <div class="list-group">
        <a href="/Relatorios/RelatorioDespesasMensais" class="list-group-item list-group-item-action">
            Relatório de Despesas Mensais por Categoria
        </a>
        <a href="/Relatorios/SaldoPagarReceber" class="list-group-item list-group-item-action">
            Relatório de Saldo: Contas a Pagar e Contas a Receber
        </a>
        <a href="/Relatorios/RelatorioTransacoesCartao" class="list-group-item list-group-item-action">
            Relatório de Transações no Cartão de Crédito
        </a>
        <a href="/Relatorios/RelatorioEvolucaoSaldo" class="list-group-item list-group-item-action">
            Relatório de Saldo ao Longo do Tempo (Gráfico)
        </a>
    </div>
</div>